/* Small devices (tablets, 768px and up) ----------------------------------- */
@media (min-width: $small-devices) and (max-width: 991px) {
  /* Header ---------------------------------------------------------------- */
  /* code here... */

  .enquire-form {
    left: 25%;
  }

  //  Custom toggle menu
    .navbar-toggle {
      margin-left: 0;
    }

    .navbar-header {
      float: none;
    }

    .navbar-toggle {
      display: block;
    }

    .navbar-collapse {
      border-top: 1px solid transparent;
    }

    .navbar-collapse.collapse {
      display: none !important;
    }

    .navbar-nav > li {
      float: none;
    }

    .navbar-nav {
      float: none;
    }

    .navbar-collapse.collapse {
      display: none !important;
    }

    .navbar-collapse.collapse.in {
      display: block !important;
    }

    .collapsing {
      overflow: hidden !important;
    }
    // ------------------ End ------

    // Dropdown menu
    .dropdown-menu {
      left: 107%;
    }

  /* Content --------------------------------------------------------------- */
  /* code here... */

  // Slick Slider
  .feature-tablet__display {
    .slick-next {
      left: 56%;
    }

    .slick-prev {
        left: 51%;
    }

    .slick-prev, .slick-next {
      bottom: -38px;
    }

    .slick-dots {
      left: 13%;
      bottom: 0;
    }
  }

  h2 {
    font-size: 30px;
  }

  .banner-slider__images-wrapper__content {
    position: absolute;
  }

  .trailer-video {
    display: flex;
    .image-container {
      margin-right: rem-calc(30);
      float: none;
    }
  }

  .dominator-block {
    img {
      top: 0px;
    }
  }

  // Services page
  .services-item {
    .info {
      bottom: -60%;

      h3 {
        font-size: 16px;
      }
    }
  }

  .registration {
    input[value="Reset"] {
      margin-left: rem-calc(20);
    }
  }

  .range-link {
    .play-btn {
      width: 100px;
    }
  }

  .left-border {
    border-color: $blue30;
  }
  .right-border {
    border-color: $blue30;
  }

  /* Footer ---------------------------------------------------------------- */
  /* code here... */

  .pre-footer {
    &__info {
      padding-top: rem-calc(75);
    }
    &__address {
      padding-top: rem-calc(115);
      margin-bottom: rem-calc(60);
    }
    .contact-details {
      padding-left: rem-calc(15);
      padding-right: rem-calc(15);

      .google-map {
        height: rem-calc(370);
      }
    }
  }

  .footer__copyright {
    text-align: left;
  }
  .footer__badge {
    text-align: right;
  }
}
